*{
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: "Arial", sans-serif;
}

.kont{
  width: 1000px;
  margin: 0 auto;
}

header{
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  background-color: #eee;
}

header img{
  display: block;
  width: 250px;
  margin-top: 10px;
  float: left;
}

h1{
  font-family: "MarckScript", cursive;
  font-size: 90px;
}

h2{
  font-family: "MarckScript", cursive;
  font-size: 48px;
}

header h1{
  display: block;
  width: 750px;
  vertical-align: top;
  text-align: center;
  line-height: 4;
  float: left;
}

#zawartosc{
  display: block;
}

#main-film{
  width: 800px;
  height: 450px;
  background-color: #ddd;
  margin: 0 auto;
  text-align: center;
  line-height: 30;
}

nav{
  margin: 50px 0;
}

.nav-przycisk{
  height: 120px;
  width: 80%;
  background-color: #ddd;
  margin: 60px auto;
}

.nav-przycisk img{
  width: 120px;
}

.nav-przycisk h2{
  display: inline-block;
  line-height: 2.5;
  vertical-align: top;
  margin-left: 25px;
}

footer{
  width: 100%;
  margin-top: 150px;
  background-color: #bbb;
}

footer .kont{
  height: 200px;
}

footer .kont div{
  width: 50%;
  float: left;
  height: 100%;
  background-color: #999;
  padding: 20px;
}