/*
    Paleta kolorów:
    #141210 - lukrecja
    #9b2b31 - rubinowy
    #a32323 - czerowny w logu
    #f2f4f3 - bialawy
    #d8c1ab - jasna kawa
    #5e4c3f - kawa
*/

b{
  font-weight: bold;
}

*{
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: "Arial", sans-serif;
  background-color: #f2f4f3;
  cursor: url(../grafika/kursor32.png), url(../grafika/kursor32.gif), url(../grafika/kursor32.cur), auto;
}

.kont{
  width: 1000px;
  margin: 0 auto;
}

header{
  box-sizing: content-box;
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  background-color: #d8c1ab;
  border-bottom: 12px #9b2b31 solid;
  border-top: 12px #9b2b31 solid;
}

header img{
  display: block;
  width: 250px;
  float: left;
}

h1, h2{
  font-family: "MarckScript", cursive;
  color: #141210;
}

h1{
  font-size: 90px;
}

h2{
  font-size: 48px;
}

header h1{
  display: block;
  width: 750px;
  vertical-align: top;
  text-align: center;
  line-height: 300px;
  float: left;
}

#main-film{
  width: 800px;
  height: 450px;
  background-color: #f2f4f3;
  margin: 0 auto;
  text-align: center;
  line-height: 450px;
  border: #9b2b31 solid 5px;
  border-radius: 15px;
}

nav{
  margin: 50px 0;
}

.nav-kategoria{
  height: 120px;
  width: 80%;
  margin: 60px auto;
  border: #9b2b31 solid 5px;
  border-radius: 15px;
  transition-duration: 0.3s;
  user-select: none;
}

.nav-kategoria:hover{
  background-color: #e2d1c1;
  transition-duration: 0.3s;
}

.nav-kategoria h2{
  display: inline-block;
  line-height: 120px;
  vertical-align: top;
  margin-left: 25px;
}

.nav-zawartosc{
  display: none;
}

.nav-kategoria:nth-of-type(3) .nav-przycisk{
  width: 50%;
  margin-bottom: 75px;
}

.main-opis{
  margin-top: 60px;
  height: 450px;
  color: #f2f4f3;
  vertical-align: middle;
}

.main-opis:nth-of-type(1){
  background-image: url(../grafika/baner1.jpg);
  background-position: 20% 50%;
}

.main-opis:nth-of-type(2){
  background-image: url(../grafika/baner2.jpg);
  background-position: 15% 30%;
}

.main-opis > div{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.main-opis h2{
  margin-bottom: 25px;
  font-size: 48pt;
  color: #f2f4f3;
}

.main-opis p{
  line-height: 16pt;
}

.main-opis ul{
  margin-top: 15px;
  list-style: circle;
  line-height: 22pt;
}

.main-opis li{
  margin-left: 30px;
}

.nav-przycisk{
  float: left;
  width: 33.3%;
}

.nav-przycisk div{
  height: 150px;
}

.nav-przycisk img{
  max-width: 200px;
  max-height: 160px;
  display: block;
  margin: 0 auto;
}

.nav-przycisk p{
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
}

.nav-klikniety{
  height: 400px !important;
  transition-duration: 1s;
  background-color: #e2d1c1;
}

.nav-kategoria:nth-of-type(3).nav-klikniety{
  height: 680px !important;
}

.main-kat{
  margin: 80px 0;
}

.main-kat > .kont > div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  border: #9b2b31 solid 5px;
  border-radius: 15px;
}

.main-kat h2{
  flex-grow: 3;
  font-size: 48pt;
  margin-left: 30px;
  text-decoration: underline;
  text-decoration-color: #9b2b31;
}

.main-kat-rozwin{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 20pt;
  color: #9b2b31;
  text-align: center;
  transition-duration: 0.2s;
  user-select: none;
  height: 100%;
  border-left: #9b2b31 solid 5px;
}

.main-kat-rozwin > div{
  align-self: center;
}

.main-kat-rozwin:hover,
.main-kat-klikniety{
  background-color: #9b2b31;
  color: #f2f4f3;
}

footer{
  width: 100%;
  margin-top: 200px;
  background-color: #5e4c3f;
  color: #e7e1d1; /*kolor jasnego tekstu*/
}

footer .kont{
  height: 200px;
}

footer .kont div{
  width: 50%;
  float: left;
  height: 100%;
  padding: 20px;
  line-height: 18pt !important;
}

footer .kont div:nth-of-type(1){
  border-right: 2px #4d3f34 solid;
  text-align: center;
}

footer .kont div:nth-of-type(1) p{
  margin-bottom: 20px;
}

footer .kont div:nth-of-type(1) a{
  position: relative;
  margin: 10px;
}

footer .kont div:nth-of-type(1) a:hover{
  animation: media-hover 1s linear 0s infinite forwards;
}

footer .kont div:nth-of-type(2){
  text-align: justify;
  line-height: 120%;
}

.do-gory{
  position: fixed;
  right: 32px;
  bottom: 32px;
  transition-duration: 0.3s;
}

.do-gory:hover{
  filter: brightness(0.8);
}

.do-gory-animacja{
  animation: obrot360 0.5s cubic-bezier(.45,.05,.55,.95) 0s 1 forwards;
}

/*KEYFRAMES*/

@keyframes obrot360{
  0%    {rotate: 0deg;}
  100%  {rotate: 360deg;}
}

@keyframes media-hover{
  0%    {top: 0;}
  25%   {top: 8px;}
  50%   {top: 0;}
  75%   {top: -8px;}
  100%  {top: 0px;}
}